body {
  background-color: #212121;
  font-family: oswald, serif;
}
.button-collapse {
  margin-right: 1rem;
}
/*Pitch Carousel*/
.pitch-header {
  /*color: #FF951D;*/
  color: white;
  text-shadow: -.1rem -.1rem  0 black,
                .1rem -.1rem  0 black,
                -.1rem .1rem  0 black,
                .1rem .1rem  0 black;
  font-family: arvo, serif;
}
.pitch-subheader {
  color: #ffeb3b;
  text-shadow: .1rem .1rem black;
  font-family: oswald, cursive;
}
.caption {
  background-color: rgba(255, 120, 10, 0.5);
  display: block;
}
.caption.left-align {
  padding-left: .6rem;
}
.caption.right-align {
  padding-right: .6rem;
}
/*End Pitch Carousel*/

/*Find your Gym*/
#find-your-gym {
  margin: 0;
}
.input-field label {
  color: black;
}
.input-field input[type=number]:focus + label {
  color: black;
}
.input-field input[type=number] {
  box-shadow: .1rem .1rem 0 0 gray inset;
  border-bottom: none;
}
.input-field input[type=number]:focus {
  border: .24rem solid #FFC700;
  box-shadow: 0 .1rem .1rem 0 gray;
}
#zip-submit {
  margin-top: 13px;
}
/*End Find your gym*/

hr {
  width: 85%;
  margin-bottom: 1.4rem;
}
.card-panel {
  padding: .5rem 0 0 0;
  border-top: .2rem solid black;
  border-bottom: .2rem solid black;
}
.section-card {
  padding-bottom: 1rem;
  background-color: #FFC700;
}
#stories-carousel {
  padding: 0;
  margin-top: 0;
}
#stories-links {
  margin-top: 3rem;
}
.stories-link {
  display: block;
}
#carousel-divider {
  margin-top: 3rem;
}
